#app {
  font-family: "Raleway", sans-serif !important;
  color: #444444 !important;
}

a,
.green {
  color: #14c871;
  text-decoration: none !important;
  transition: 0.4s !important;
}

@media (hover: hover) {
  a:hover {
    color: #206bfb !important;
    text-decoration: none !important;
  }
}
